// start .sVacancy
.sVacancy {
	--sPT: #{rem(21)};
	--sPB: #{rem(10)};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(42)};
		--sPB: #{rem(20)};
	}
	&__link {
		padding: rem(20) 0;
		border-bottom: 1px solid $gray-200;
		display: block;
		position: relative;
		&:before {
			@include mt;
			content: '';
			position: absolute;
			display: block;
			width: 200vw;
			height: 100%;
			top: 0;
			left: -50vw;
			z-index: -1;
			background-color: $gray-100;
			opacity: 1;
		}
		@include media-breakpoint-up(lg) {
			padding: rem(30) rem(0) rem(30) 0;
		}
		@include media-breakpoint-up(xl) {
			padding: rem(40) rem(0) rem(40) 0;
		}
		&:first-child {
			border-top: 1px solid $gray-200;
		}
		&:not(:hover) {
			color: $body-color;
			&:before {
				opacity: 0;
			}
			.iconC {
				opacity: 0;
			}
		}
		.h2 {
			margin-bottom: 0;
			font-weight: 700;
			line-height: 1.33;
			padding-right: rem(50);
			@include media-breakpoint-up(lg) {
				padding-right: 0;
			}
		}
		p {
			color: $body-color;
			margin-bottom: 0;
			font-size: rem(14);
			font-style: normal;
			font-weight: 500;
			line-height: 1.5;
			@include media-breakpoint-up(lg) {
				font-size: rem(16);
			}
		}
		.iconC {
			position: absolute;
			right: 0;
			top: rem(26.393);
			@include mt;
			opacity: 1;
			@include media-breakpoint-up(lg) {
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	&__row {
		--bs-gutter-x: #{rem(24)};
		--bs-gutter-y: #{rem(12)};
		align-items: center;
		& > div {
			&:last-child {
				p {
					@include media-breakpoint-up(lg) {
						padding-right: rem(50);
					}
				}
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sVacancy