.footer {
		
	margin-top: auto;
	--sPT: #{rem(32)};
	--sPB: #{rem(70)};
	// --sTPB: #{rem()};
	border-top: 1px solid $light;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(56)};
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y:#{rem(40)};

	}
	&__logo {
		display: inline-block;
		width: rem(200);
		img {
			max-width: 100%;
		}
	}
	&__nav {
		ul {
			margin-bottom: 0;
			list-style-type: none;
			@include media-breakpoint-up(md) {
				columns: 2;
			}
		}
		li {
			&:not(:last-child) {
				margin-bottom: rem(18);
			}
		}
		a {
			color: $body-color;
			font-size: rem(18);
			font-weight: 500;
			&:hover {
				color: $primary;
			}
		}
	}
	&__phone {
		margin-bottom: rem(24);
		font-size: rem(16);
		font-weight: 500;
		color: $secondary;
		a {
			display: flex;
			align-items: center;
			font-size: rem(20);
			font-weight: 600;
			letter-spacing: -0.5px;
			color: $body-color;
			&:hover {
				color: $primary;
			}
			&::before {
				display: inline-block;
				margin-right: rem(2);
				width: rem(24);
				height: rem(24);
				content: '';
				background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.6 4C5.166 4 4 5.166 4 6.6C4 13.988 10.011 20 17.4 20C18.833 20 20 18.834 20 17.4C20 17.289 19.993 17.18 19.979 17.072L15.359 16.012C15.267 16.188 15.166 16.379 15.074 16.557C14.618 17.427 14.288 18.059 13.446 17.72C10.14 16.56 7.441 13.86 6.266 10.514C5.909 9.729 6.589 9.373 7.451 8.923C7.626 8.831 7.815 8.732 7.988 8.642L6.928 4.021C6.817 4.007 6.709 4 6.6 4ZM17.4 22C8.908 22 2 15.092 2 6.6C2 4.063 4.063 2 6.6 2C6.86 2 7.117 2.022 7.366 2.065C7.609 2.104 7.853 2.166 8.091 2.248C8.416 2.361 8.661 2.634 8.738 2.97L10.107 8.934C10.183 9.262 10.088 9.606 9.854 9.85C9.718 9.992 9.715 9.995 8.475 10.644C9.479 12.818 11.224 14.557 13.354 15.527C14.004 14.286 14.008 14.282 14.15 14.146C14.394 13.912 14.74 13.821 15.066 13.893L21.031 15.262C21.366 15.339 21.639 15.583 21.751 15.908C21.833 16.144 21.895 16.388 21.936 16.639C21.978 16.886 22 17.142 22 17.4C22 19.937 19.936 22 17.4 22Z' fill='#{$primary}'/%3E%3C/svg%3E%0A");
			}
		}
	}
	address {
		margin-bottom: 0;
		font-size: rem(16);
		font-weight: 500;
		line-height	: 156.25%;
	}
	&__copyright {
		color: $secondary;
		font-size: rem(14);
		font-weight: 500;
		p {
			margin-bottom: 0;
		}
	}
	.soc {
		--bs-gutter-x: #{rem(16)};
		path {
			@include mt;
		}
	}
	.soc__item:hover {
		[fill="#656565"] {
			fill: $primary;
		}
	}
	&__bottom-links {
		font-size: rem(14);
		font-weight: 500;
		ul {
			list-style-type: none;
			margin-bottom: 0;
			@include media-breakpoint-up(md) {
				display: flex;
			}
		}
		li {
			margin-right: rem(24);
		}
		a {
			color: $secondary;
			&:hover {
				color: $primary;
			}
		}
	}
// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}


// 
@include media-breakpoint-between(md, xl) {}


// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}


// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}
}
