include ../../layout/include.pug

include ../../blocks/header/_header.pug
include ../../blocks/topLine/_topLine.pug
include ../../blocks/top-nav/_top-nav.pug 

+header()
	+topLine()
	//- +top-nav()
	//- .menu-mobile.menu-mobile--js
		.menu-mobile__inner
			.top-nav__tel(href='tel:88003330600')
				+icon('phone')
				| 8 800 333-0-600
			+mnu