@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basket {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(22 / #{$h} *1em );
}
.icon-chat {
	$h: 26;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(26 / #{$h} *1em );
}
.icon-check {
	$h: 27;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(27 / #{$h} *1em );
}
.icon-chevron-up {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-email {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(25 / #{$h} *1em );
}
.icon-fb {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-instagram {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-like {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-open-link {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-phone {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(25 / #{$h} *1em );
}
.icon-save-search {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-telegram {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-viber {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-vk {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-whatsapp {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
