mixin sDescriptionAboutUs(data)
	// start sDescriptionAboutUs
	+b.SECTION.sDescriptionAboutUs.section#sDescriptionAboutUs&attributes(attributes)
		.container
			+imgCover('imgCover-1.png', 'imgCover-1-sm.png')
			+e.row
				.row
					.col-lg-4.col-xl-6
						h2.h1 О нас
					.col-lg-8.col-xl-6
						p Sunveston&nbsp;&mdash; инвестиционное агентство недвижимости, которое входит в&nbsp;группу компаний Renton Yard
						p Cпециализируемся на&nbsp;продаже, покупке, аренде и&nbsp;управлении коммерческой недвижимостью, такой как офисные помещения, торговые центры, склады, отели и&nbsp;другие объекты, предназначенные для использования в&nbsp;коммерческих целях.
						p Cпециализируемся на&nbsp;продаже, покупке, аренде и&nbsp;управлении коммерческой недвижимостью, такой как офисные помещения, торговые центры, склады, отели и&nbsp;другие объекты, предназначенные для использования в&nbsp;коммерческих целях.
	// end sDescriptionAboutUs