// start .sAbout
.sAbout {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	&__service {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 12px;
		list-style-type: none;
		@include media-breakpoint-up(lg) {
			gap: 24px;
		}
	}
	&__service {
		padding: rem(32);
		border-radius: 24px;
		background: #F5F5F7;
		@include media-breakpoint-up(lg) {
			padding: rem(20);
		}
	}


	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAbout