extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sProdCard/_sProdCard.pug

block variables
	- let  mainPage= 'page-card header-indent' 
	- let  bg= 'main-2.jpg'

block title
	- let  title= 'Карточка товара'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header-2')
	main 
		+page-head('Продажа здания площадью 3 408,2 м² и гаража площадью 504,4 м²', 'Торги', 'Продажа недвижимости', 'Хлебные крошки')
		//- +sProdCard(true)
		+sProdCardMobile
		.sticky-block.sticky-block--js 
			.sticky-block__body
				+sProdCard(true)
	//- +parts('footer')
	//- +controlsBtn()
	+chat()
	+scrollToTop()