extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sSimilar/_sSimilar.pug

block variables
	- let  mainPage= 'page-card header-indent' 
	- let  bg= 'main-2.jpg'

block title
	- let  title= 'Карточка товара'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	.dark-block.d-sm-none
	+parts('header-2')
	main 
		+page-head('Продажа торговой площади 526 м²', 'Продажа недвижимости', 'Торговая недвижимость', 'Хлебные крошки')
		+sProdCardMobile
		.sticky-block
			.sticky-block__body
				+sProdCard
				+sSimilar
	//- +parts('footer')
	//- +controlsBtn()
	+chat()
	+scrollToTop()
	+fixedProdCard('Продажа недвижимости', 'Торговая недвижимость', 'Хлебные крошки')