extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug

include ../blocks/sAbout/_sAbout.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main-2.jpg'

block title
	- let  title= 'Агентство'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		//- +page-head2
		+sAbout
	//- +parts('footer')
	+controlsBtn()
	+chat()
	+scrollToTop()