extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug


block variables
	- let  mainPage= '' 
	- let  bg= '03-home.jpg'

block title
	- let  title= 'Агентство'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head2({
			container: true,
			title: 'Агентство',
			subtitle: 'Cпециализируемся на&nbsp;продаже, покупке, аренде и&nbsp;управлении коммерческой недвижимостью, такой как офисные помещения, торговые центры, склады, отели и&nbsp;другие объекты, предназначенные для использования в&nbsp;коммерческих целях.',
			items: ['О компании', 'Хлебные крошки']
		})
		//- +page-head2('Агентство', 'Cпециализируемся на&nbsp;продаже, покупке, аренде и&nbsp;управлении коммерческой недвижимостью, такой как офисные помещения, торговые центры, склады, отели и&nbsp;другие объекты, предназначенные для использования в&nbsp;коммерческих целях.', 'О компании', 'Хлебные крошки')
	//- +parts('footer')
	+controlsBtn()
	+chat()
	+scrollToTop()