extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug

include ../blocks/sBlog/_sBlog.pug
include ../blocks/sSimilar/_sSimilar.pug


block variables
	- let  mainPage= 'blog-page' 
	- let  bg= '05-contacts.jpg'


block title
	- let  title= 'Статья'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head2({
			container: true,
			title: 'Как купить офис: 6 советов по выбору помещения',
			items: ['Events', 'Хлебные крошки'],
			subtitle: 'Если театр начинается с вешалки, то бизнес – с офиса. Переоценить его значение трудно, а подобрать офисное помещение – тот еще квест. Однако есть правила, благодаря которым, вы сможете принять верное решение.'
		})
		+sContent
			+e.container
				+img('img/article-1.jpg').res-i
				+e.wrap
					p Итак, 6&nbsp;шагов на&nbsp;пути к&nbsp;идеальному офису:
				+e.wrap
					h2 Обозначаем бюджет
					p Молодой компании ни&nbsp;к&nbsp;чему дорогой офис в&nbsp;центре города. Даже если у&nbsp;вас есть на&nbsp;это деньги, лучше вложить их&nbsp;в&nbsp;развитие бизнеса.
					p Однако всегда стоит помнить о&nbsp;том, что цена офиса состоит из&nbsp;нескольких составляющих: арендная ставка, коммунальные платежи, эксплуатационные платежи и&nbsp;т.&nbsp;д. Не&nbsp;забывайте об&nbsp;этом в&nbsp;своем стремлении сэкономить при подборе офиса.
				+e.wrap
					h2 Подсчитываем необходимое число рабочих мест
					p Ориентироваться нужно не&nbsp;на&nbsp;нынешнее количество сотрудников, а&nbsp;на&nbsp;перспективное. Сегодня в&nbsp;вашей компании работает 10&nbsp;человек. Через полгода вы&nbsp;возьмете еще троих. Если офисных мест у&nbsp;вас будет ровно&nbsp;10, может встать вопрос о&nbsp;переезде, а&nbsp;это лишние расходы.
					p Имеет смысл сразу арендовать офис с&nbsp;расчетом на&nbsp;вероятное увеличение штата.<br>На&nbsp;основании ТКП при использовании ЖК-мониторов в&nbsp;офисном помещении на&nbsp;1&nbsp;рабочее место должно приходиться минимум 6,5 м2&nbsp;площадиsp;этом в&nbsp;своем стремлении сэкономить при подборе офиса.
					p Таким образом, 6,5&times;10=65 м2&nbsp;&mdash; минимум площади на&nbsp;10&nbsp;сотрудников. Но&nbsp;реальная площадь офиса на&nbsp;10&nbsp;человек будет намного больше, чем 65&nbsp;м2. Чаще всего&nbsp;&mdash; не&nbsp;менее 90-100 м2.
				+e.wrap
					h2 Выбираем местоположение
					p Для одних компаний принципиально арендовать офис в&nbsp;конкретном районе, например, рядом с&nbsp;собственным производством или складом. Для других основополагающим фактором является наличие поблизости метро. Для третьих местоположение вообще не&nbsp;имеет значения.
				+e.wrap
					h2 Определяемся со сроками аренды
					p Помещение под офис&nbsp;&mdash; это не&nbsp;арендная квартира. Посуточно его не&nbsp;снимают (хотя в&nbsp;случае со&nbsp;смарт-офисами бывает и&nbsp;такое).
					p Срок аренды офиса может составлять от&nbsp;3&nbsp;месяцев до&nbsp;нескольких лет. Начинающим стартапам нет смысла снимать офис сразу на&nbsp;5&nbsp;лет&nbsp;&mdash; достаточно будет нескольких месяцев. Для фирмы &laquo;с&nbsp;историей&raquo; однозначно подойдет длительный срок аренды.
				+e.wrap
					h2 Ищем помещение
					p Самостоятельно на&nbsp;поиск может уйти 1-3 месяца&nbsp;&mdash; вам придется обзвонить сотни очень похожих объявлений, съездить в&nbsp;десятки офисов и&nbsp;просмотреть кипы документов.
				+e.wrap
					h2 Грамотно составляем договор аренды
					p Подходить к&nbsp;этому вопросу нужно как можно более тщательно и&nbsp;взвешенно. Увы, но&nbsp;иногда неправильно составленный договор аренды офиса приводит компании к&nbsp;многомиллионным убыткам и&nbsp;судебным тяжбам.
		+sSimilar('Похожие статьи','',false)
			.blog__slider.blog__slider--js.swiper
				.swiper-wrapper
					.sSimilar__slide.swiper-slide
						+blogItem('blog-1','Новости','Рейтинг коммерческой недвижимости ТОП 10',date="24 апр 2023")
					.sSimilar__slide.swiper-slide
						+blogItem('blog-2','Недвижимость','Как купить офис: 6 советов по выбору помещения',date="24 апр 2023")
					.sSimilar__slide.swiper-slide
						+blogItem('blog-3','Недвижимость','Как лучше инвестировать в недвижимость',date="24 апр 2023")
					.sSimilar__slide.swiper-slide
						+blogItem('blog-1','Новости','Рейтинг коммерческой недвижимости ТОП 10',date="24 апр 2023")
					.sSimilar__slide.swiper-slide
						+blogItem('blog-2','Недвижимость','Как купить офис: 6 советов по выбору помещения',date="24 апр 2023")
					.sSimilar__slide.swiper-slide
						+blogItem('blog-3','Недвижимость','Как лучше инвестировать в недвижимость',date="24 апр 2023")
				.sSimilar__controls
					+arrow
					.sSimilar__scrollbar
						.swiper-scrollbar
	+parts('footer')
	+controlsBtn()
	+chat()
	+scrollToTop()