extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug

include ../blocks/sServices/_sServices.pug
//- include ../blocks/sCooperation/_sCooperation.pug


block variables
	- let  mainPage= 'article-page' 
	- let  bg= '10-service-article.jpg'

block title
	- let  title= 'Эксперт по недвижимости'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header-3')
	main
		+page-head2({
			container: true,
			items: ['Карьера', 'Хлебные крошки'],
			title: 'Эксперт по недвижимости',
			price: 'от 70 000 до 210 000 ₽',
			subtitle: 'Эта страница создана для демонстрации блоков и&nbsp;элементов, которые используются на&nbsp;сайте, и&nbsp;служит руководством для всех, кто работает над ним. Дизайнеры и&nbsp;технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в&nbsp;различных сочетаниях блоков и&nbsp;элементов. Контент-менеджеры и&nbsp;редакторы используют страницу в&nbsp;качестве справочника по&nbsp;верстке типовых страниц. Здесь&nbsp;же рассказывается о&nbsp;некоторых общих правилах оформления контента.'
		})
		+sContent
			//- +e.img-wrap: +img('img/article-2.jpg')
			//- +img('img/article-2.jpg').res-i
			+e.wrap
				h2 Обязанности:
				ul
					li Картинка справа, картинка слева
					li Классы (важно, инфа, удачно, варнинг)
					li Подстрочный, надстрочный
					li Форма
					li Файлы для скачивания
			+e.wrap
				h2 Условия:
				p Типовые элементы оформляются в&nbsp;системе администрирования через визуальный редактор &laquo;Реформатор&raquo;. Чтобы контент-менеджеру было легче в&nbsp;них ориентироваться, их&nbsp;количество лучше свести к&nbsp;необходимому минимуму.
				p Имманентный подход подразумевает отношение к&nbsp;тексту как к&nbsp;автономной реальности, нацеленность на&nbsp;выявление его внутренней структуры. Репрезентативный&nbsp;&mdash; рассмотрение текста как особой формы представления знаний о&nbsp;внешней тексту действительности.
		+sForm('Оставить отклик', false)
		//- +sServices
	+parts('footer')
	+controlsBtn()
	+chat()
	+scrollToTop()