extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main-2.jpg'

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		.container
			.row
				.col-md-6.col-xl-4.col-xxl-3: +catalogCard({
					slider: {
						slidesCount: 11,
						img: 1,
					},
					tag: {
						bgColor: 'linear-gradient(180deg, #58B971 0%, #A0D275 100%)',
						text: 'Быстрая сделка',
					},
					title: 'Продажа торговой площади 546 м²',
					price: {
						text: '28 900 000 ₽',
						icon: 'downgrade.svg'
					},
					metro: 'metro-1.svg',
				})
				.col: +catalogCard({
					slider: {
						slidesCount: 8,
						img: 1,
					},
					tag: {
						bgColor: 'linear-gradient(180deg, #58B971 0%, #A0D275 100%)',
						text: 'Быстрая сделка',
					},
					title: 'Продажа торговой площади 546 м²',
					price: {
						text: '28 900 000 ₽',
						icon: 'downgrade.svg'
					},
					metro: 'metro-1.svg',
				}).--horizontal
			.row
				.col-lg-6
					+sidePanel({
						status: [
							{
								bgColor: 'linear-gradient(180deg, #58B971 0%, #A0D275 100%)',
								text: 'Быстрая сделка'
							},
							{
								bgColor: 'linear-gradient(180deg, #6BB8D0 0%, #4FD5FF 100%)',
								text: 'Ипотека'
							}
						],

						start: 'Стоимость объекта',
						price: '25 500 000 ₽',
						discount: '25 500 000 ₽',
						tax: true,

						features: true,

						btnOnTop: true,
						filledBtn: 'Предложить свою цену',
						outlineBtn: 'Расчитать ипотеку',
						
						subtitle: 'Финансовые показатели',
						list: [
							{
								key: 'Доходность',
								val: '14,5%',
							},
							{
								key: 'Окупаемость',
								val: '8 лет',
							},
							{
								key: 'Месячный арендный поток',
								val: '500 000 ₽',
							}
						],

						person: {
							img: 'avatar.jpg',
							name: 'Валентина Иванова',
							post: 'Эксперт по продажам'
						}
					})
				.col-lg-6
					+sidePanel({
						status: false,

						start: 'Начальная цена',
						price: '48 112 100 ₽',
						discount: false,
						tax: false,

						features: false,

						btnOnTop: false,
						filledBtn: 'Принять участие',
						outlineBtn: 'Подготовка документов на участие',
						
						subtitle: false,
						list: [
							{
								key: 'Шаг',
								val: '283 850 ₽',
							},
							{
								key: 'Сумма задатка',
								val: '567 700 ₽',
							},
							{
								key: 'Внесение задатка до',
								val: '21.09.2023 23:59',
							},
							{
								key: 'Прием заявок до',
								val: '21.09.2023 23:59',
							}
						],

						person: {
							img: 'avatar-2.jpg',
							name: 'Алексей Черницкий',
							post: 'Эксперт по продажам'
						}
					})
	+parts('footer')
	+controlsBtn()
	+chat()
	+scrollToTop()



