include ../../layout/include.pug

+b.modal-win--callback
	+form-wrap 
		+e.title.h1 Отправить заявку
		+input("Имя",'text')
		+input("Контактный телефон",'tel')(required)  
			span.tel +7
		+input("Электоронная почта",'email')(required)  
		+e.BUTTON.btn.btn(type="submit").btn-primary.w-100 Отправить заявку
		+policy()