include ../../layout/include.pug

mixin inc2(type, text, name)
  +b.LABEL.custom-input-2.form-check
    input.custom-input-2__input.form-check-input(name=name type=type)
    span.custom-input-2__text.form-check-label!= text

+b.modal-win
  +e.head
    +e.save-search(href='#')
      +icon('save-search')
      span Сохранить поиск
    +e.title Настроить фильтры
  +e.body
    +e.wrap
      .h6 Вид недвижимости
      .range-slider
        .extra-controls
          label
            span от
            input.js-input-from(type='text' value='0')
            span ₽
          label
            span до
            input.js-input-to(type='text' value='0')
            span ₽
        input.js-range-slider(type='text' value='')
    +e.wrap
      .h6 Вид недвижимости
      .range-slider
        .extra-controls
          label
            span от
            input.js-input-from2(type='text' value='0')
            span ₽
          label
            span до
            input.js-input-to2(type='text' value='0')
            span ₽
        input.js-range-slider2(type='text' value='')
    +e.wrap
      .h6 Вид недвижимости
      +e.input-row.row
        .col-sm-4
          +in-c('checkbox', 'Офис', 'type')
        .col-sm-4
          +in-c('checkbox', 'Общ. питания', 'type')
        .col-sm-4
          +in-c('checkbox', 'Склад', 'type')
        .col-sm-4
          +in-c('checkbox', 'Торговое помещение', 'type')
        .col-sm-4
          +in-c('checkbox', 'Свобод. назначения', 'type')
        .col-sm-4
          +in-c('checkbox', 'Производство', 'type')
    +e.wrap
      .h6 Ремонт
      +e.custom-input-row.row
        .col-auto
          +inc2('radio', 'Без ремонта', 'repair')
        .col-auto
          +inc2('radio', 'Под чистовую отделку', 'repair')
        .col-auto
          +inc2('radio', 'Офисная отделка', 'repair')
        .col-auto
          +inc2('radio', 'Требуется кометический ремонт', 'repair')
        .col-auto
          +inc2('radio', 'Требуется капитальный ремонт', 'repair')
    +e.wrap
      .h6 Этажи
      +e.content
        +e.heading Этаж
        +e.floor-row.row
          .col-auto
            +e.inputs-wrap
              +e.LABEL.input-wrap.form-group
                span от
                input.form-control(value='2')
              +e.LABEL.input-wrap.form-group
                span до
                input.form-control(value='8')
          .col-auto
            +e.inner-row.row
              .col-auto
                +inc2('radio', 'Не последний', 'repair')
              .col-auto
                +inc2('radio', 'Последний', 'repair')
              .col-auto
                +inc2('radio', 'Не первый', 'repair')
      +e.content
        +e.heading Этажность дома
        +e.floor-row.row
          .col-auto
            +e.inputs-wrap
              +e.LABEL.input-wrap.form-group
                span от
                input.form-control(value='2')
              +e.LABEL.input-wrap.form-group
                span до
                input.form-control(value='25')
  +e.footer
    .row
      .col-md
        +e.reset(href='#')
          +icon('refresh')
          | Сбросить фильтры
      .col-md-auto
        +e.btn.btn.btn-primary(href='#') Показать 8 562 предложения