include ../../layout/include.pug

+b.modal-win--profile
  +e.row.row
    .col-md-auto.order-md-1
      +e.img-wrap: +img('img/sTeam-img-6.jpg', 'bg')
    .col-md
      .h1 Лилия Маркова
      +e.status Эксперт по продажам
      +e.standing В команде #[span 4 года 6 мес]
      span О Лилии
      p Лилия&nbsp;&mdash; сильный специалист не&nbsp;только для клиентов, но&nbsp;и&nbsp;для всей команды. Она умеет соблюдать баланс между требованиями бизнеса и&nbsp;техническими особенностями разных проектов. За&nbsp;обаятельной улыбкой скрывается серьёзный стержень и&nbsp;отличные хард-скиллы.
  +e.bottom-row.row
    .col-md 
      +e.btn.btn.btn-outline-light(href='#') 
        +icon('phone')
        | Позвонить
    .col-md
      +e.btn.btn.btn-outline-light(href='#') 
        +icon('email')
        | Написать