mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			+e.grid-row.row
				.col-sm-6.col-lg-4
					+catalogCard({
						slider: {
							slidesCount: 11,
							img: 1,
						},
						tag: {
							bgColor: 'linear-gradient(180deg, #58B971 0%, #A0D275 100%)',
							text: 'Быстрая сделка',
						},
						title: 'Продажа торговой площади 546 м²',
						price: {
							text: '28 900 000 ₽',
							icon: 'downgrade.svg'
						},
						metro: 'metro-1.svg',
					})
				.col-sm-6.col-lg-4
					+catalogCard({
						slider: {
							slidesCount: 11,
							img: 1,
						},
						tag: {
							bgColor: 'linear-gradient(180deg, #58B971 0%, #A0D275 100%)',
							text: 'Быстрая сделка',
						},
						title: 'Продажа торговой площади 546 м²',
						price: {
							text: '28 900 000 ₽',
							icon: 'downgrade.svg'
						},
						metro: 'metro-1.svg',
					})
				.col-sm-6.col-lg-4
					+catalogCard({
						slider: {
							slidesCount: 11,
							img: 1,
						},
						tag: {
							bgColor: 'linear-gradient(180deg, #58B971 0%, #A0D275 100%)',
							text: 'Быстрая сделка',
						},
						title: 'Продажа торговой площади 546 м²',
						price: {
							text: '28 900 000 ₽',
							icon: 'downgrade.svg'
						},
						metro: 'metro-1.svg',
					})
				.col-sm-6.col-lg-4
					+catalogCard({
						slider: {
							slidesCount: 11,
							img: 1,
						},
						tag: {
							bgColor: 'linear-gradient(180deg, #58B971 0%, #A0D275 100%)',
							text: 'Быстрая сделка',
						},
						title: 'Продажа торговой площади 546 м²',
						price: {
							text: '28 900 000 ₽',
							icon: 'downgrade.svg'
						},
						metro: 'metro-1.svg',
					})
				.col-sm-6.col-lg-4
					+catalogCard({
						slider: {
							slidesCount: 11,
							img: 1,
						},
						tag: {
							bgColor: 'linear-gradient(180deg, #58B971 0%, #A0D275 100%)',
							text: 'Быстрая сделка',
						},
						title: 'Продажа торговой площади 546 м²',
						price: {
							text: '28 900 000 ₽',
							icon: 'downgrade.svg'
						},
						metro: 'metro-1.svg',
					})
			+e.btn.btn.btn-light(href='#') Показать еще
			+pugin
			+e.showed Показано 20 из 378 предложений

mixin sCatalog2(data)
	// start sCatalog
	+b.sCatalog--2.section&attributes(attributes)
		+e.container.container
			+e.row.row
				+e.catalog-col.col-lg-8.col-xl.custom-scroll
					+e.wrap
						+page-head2('Продажа коммерческой недвижимости в Москве','Продажа недвижимости', 'Торговая недвижимость', 'Хлебные крошки')
						+e.cards.row
							.col-sm-6.col-lg-12
								+catalogCard({
									slider: {
										slidesCount: 8,
										img: 1,
									},
									tag: {
										bgColor: 'linear-gradient(180deg, #58B971 0%, #A0D275 100%)',
										text: 'Быстрая сделка',
									},
									title: 'Продажа торговой площади 546 м²',
									price: {
										text: '28 900 000 ₽',
										icon: 'downgrade.svg'
									},
									metro: 'metro-1.svg',
									likeClass: 'active',
								}).--horizontal
							.col-sm-6.col-lg-12
								+catalogCard({
									slider: {
										slidesCount: 8,
										img: 1,
									},
									tag: {
										bgColor: 'linear-gradient(180deg, #58B971 0%, #A0D275 100%)',
										text: 'Быстрая сделка',
									},
									title: 'Продажа торговой площади 546 м²',
									price: {
										text: '28 900 000 ₽',
										icon: 'downgrade.svg'
									},
									metro: 'metro-1.svg',
								}).--horizontal
							.col-sm-6.col-lg-12
								+catalogCard({
									slider: {
										slidesCount: 8,
										img: 1,
									},
									tag: {
										bgColor: 'linear-gradient(180deg, #58B971 0%, #A0D275 100%)',
										text: 'Быстрая сделка',
									},
									title: 'Продажа торговой площади 546 м²',
									price: {
										text: '28 900 000 ₽',
										icon: 'downgrade.svg'
									},
									metro: 'metro-1.svg',
								}).--horizontal
							.col-sm-6.col-lg-12
								+catalogCard({
									slider: {
										slidesCount: 8,
										img: 1,
									},
									tag: {
										bgColor: 'linear-gradient(180deg, #58B971 0%, #A0D275 100%)',
										text: 'Быстрая сделка',
									},
									title: 'Продажа торговой площади 546 м²',
									price: {
										text: '28 900 000 ₽',
										icon: 'downgrade.svg'
									},
									metro: 'metro-1.svg',
								}).--horizontal
							.col-sm-6.col-lg-12
								+catalogCard({
									slider: {
										slidesCount: 8,
										img: 1,
									},
									tag: {
										bgColor: 'linear-gradient(180deg, #58B971 0%, #A0D275 100%)',
										text: 'Быстрая сделка',
									},
									title: 'Продажа торговой площади 546 м²',
									price: {
										text: '28 900 000 ₽',
										icon: 'downgrade.svg'
									},
									metro: 'metro-1.svg',
								}).--horizontal
						+e.btn.btn.btn-light(href='#') Показать еще
						+pugin
						+e.showed Показано 20 из 378 предложений
				.col-lg
					+e.map
						#map
					script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=09afbf5f-475d-4f11-bb68-eb2d6371a737" type="text/javascript")
					script.
						var myMap;
						ymaps.ready(init);

						function init () {
							myMap = new ymaps.Map('map', {
									center: [55.76, 37.64],
									zoom: 10
							}, {
									searchControlProvider: 'yandex#search'
							});
							//- myGeoObject = new ymaps.GeoObject({
							//- 	geometry: {
							//- 			type: "Point",
							//- 			coordinates: [55.8, 37.8]
							//- 	},
							//- 	properties: {
							//- 		iconContent: '22,5 млн ₽',
							//- 	}
							//- });
							//- myMap.geoObjects.add(myGeoObject);
						};
	// end sCatalog