mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		+e.headline
			.container
				p Хотите купить коммерческую недвижимость 
					a(href="#") с&nbsp;дисконтом 30-50%?
		.container
			+e.content
				+e.row.row
					.col
						+e.logo(href='/'): +img('img/svg/logo.svg')
					.col-auto.d-none.d-lg-block
						+e.tel(href='tel:88003330600')
							+icon('phone')
							| 8 800 333-0-600
					.col-auto.d-none.d-lg-block
						+e.btn.btn.btn-outline-light(href='#')
							+icon('like')
							| 24
					.col-auto.d-none.d-lg-block
						.popup.popup-js
							+e.btn.btn.btn-outline-light.popup-btn-js(href='#')
								+icon('save-search')
								| 3
							.popup-content
								.popup-head 
									| Поиски
									.close
								.popup-body
					.col-auto
						+e.btn.btn.btn-dark(href='#') Войти
					.col-auto.d-lg-none
						+menu-toggle()
	// end topLine