mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		+e.headline
			.container
				p Хотите купить коммерческую недвижимость 
					a(href="#") с&nbsp;дисконтом 30-50%?
		.container
			+e.content
				+e.row.row
					.col
						+e.logo(href='/'): +img('img/svg/logo.svg')
					.col-auto.d-none.d-lg-block
						+e.tel(href='tel:88003330600')
							+icon('phone')
							| 8 800 333-0-600
					.col-auto.d-none.d-lg-block
						+e.btn.btn.btn-outline-light(href='#')
							+icon('like')
							| 24
					.col-auto.d-none.d-lg-block
						+b.popup.popup-js
							.btn.btn-outline-light.popup-btn-js.topLine__btn(href='#')
								+icon('save-search')
								| 3
							+e.content
								+e.head 
									| Поиски
									.close
								+e.body.custom-scroll
									+e.item
										.row
											.col
												.h6 Продажа недвижимости
											.col-auto
												+e.delete(href="#")
													| Удалить
													+icon('delete') 
										p Торговое помещение, Офис, от 500 м², Под чистовую отделку
										+input('Электронная почта', 'text')
										+e.btn.btn.btn-primary(href='#') Получать на почту
									+e.item
										.row
											.col
												.h6 Аренда недвижимости
											.col-auto
												+e.delete(href="#")
													| Удалить
													+icon('delete') 
										p Торговое помещение, Офис, от 500 м², Под чистовую отделку
										+input('Электронная почта', 'text')
										+e.btn.btn.btn-primary(href='#') Получать на почту
									+e.item
										.row
											.col
												.h6 Аренда недвижимости
											.col-auto
												+e.delete(href="#")
													| Удалить
													+icon('delete') 
										p Торговое помещение, Офис, от 500 м², Под чистовую отделку
										+input('Электронная почта', 'text')
										+e.btn.btn.btn-primary(href='#') Получать на почту
									+e.item
										.row
											.col
												.h6 Продажа недвижимости
											.col-auto
												+e.delete(href="#")
													| Удалить
													+icon('delete') 
										p Торговое помещение, Офис, от 500 м², Под чистовую отделку
										+input('Электронная почта', 'text')
										+e.btn.btn.btn-primary(href='#') Получать на почту
					.col-auto
						+e.btn.btn.btn-dark(href='#') Войти
					.col-auto.d-lg-none
						+menu-toggle()
	// end topLine