mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.section.block-with-lazy
		.container
			+e.row.row
				.col-12
					+e.wrap
						+search()
						+b.dd-group
							+e.item
								+e.head.dd-head-header-js 
									| Продажа
									+icon('chevron-down')
								+e.content
									+e.link.active(href="#") Продажа 
									+e.link(href="#") Аренда 
									+e.link(href="#") Торги 
									+e.link(href="#") Готовый бизнес 
				.col-auto.d-none.d-lg-block
					+e.btn.btn.btn-outline-light(href='#')
						+icon('filter')
						| Фильтры
				.col-auto.d-none.d-lg-block
					+e.wrap
						+e.btn.btn.btn-outline-light.dd-head-header-js
							| Покупка до
							span &nbsp;60 млн ₽
							+icon('chevron-down')
						+e.content
							div Lorem ipsum dolor sit.
							div Lorem ipsum dolor sit.
							div Lorem ipsum dolor sit.
				.col-auto.d-none.d-lg-block
					+e.wrap
						+e.btn.btn.btn-outline-light.dd-head-header-js(href='#')
							| Окупаемость до 
							span &nbsp;8 лет
							+icon('chevron-down')
						+e.content
							div Lorem ipsum dolor sit.
							div Lorem ipsum dolor sit.
							div Lorem ipsum dolor sit.
				.col-auto.ms-lg-auto
					+e.wrap
						+e.btn.btn.btn-outline-light.dd-head-header-js(href='#') 
							+icon('height')
							| Рекомендуемые
							+icon('chevron-down')
						+e.content
							div Lorem ipsum dolor sit.
							div Lorem ipsum dolor sit.
							div Lorem ipsum dolor sit.
				.col-auto.ms-auto.ms-lg-0
					+e.btn.btn.btn-outline-light(href='#')
						+icon('map')
						.d-none.d-lg-inline На карте
				.col-auto.d-none.d-lg-block
					+e.grid
						+e.grid-item.active(href='#'): +icon('layout')
						+e.grid-item(href='#'): +icon('grid')
				.col-auto.d-none.d-lg-block
					+e.btn.btn.btn-outline-light(href='#')
						+icon('save-search')
				//- .col-4
				//- .col.order-lg-0.order-last
				//- 	.menu-mobile.menu-mobile--js
				//- 		.menu-mobile__inner
				//- 			+menu-toggle()
				//- 			+mnu()
					
				//- .col-auto.d-lg-none
				//- 	+menu-toggle()
	// end top-nav