mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.section.block-with-lazy
		.container
			+e.row.row
				.col-12
					+e.wrap
						+search()
						+b.dd-group
							+e.item.dd-wrap-js
								+e.head.dd-head-header-js 
									| Продажа
									+icon('chevron-down')
								+e.content
									+e.link.active(href="#") Продажа 
									+e.link(href="#") Аренда 
									+e.link(href="#") Торги 
									+e.link(href="#") Готовый бизнес 
				.col-auto.d-none.d-lg-block
					+e.btn.btn.btn-outline-light(data-fancybox='filter-1' data-type="ajax" href='modal/filter.html')
						+icon('filter')
						| Фильтры
				.col-auto.d-none.d-lg-block
					+e.wrap.dd-wrap-js
						+e.btn.btn.btn-outline-light.dd-head-header-js
							| Покупка до
							span &nbsp;60 млн ₽
							+icon('chevron-down')
						+e.content.custom-scroll
							+in-c('checkbox', 'Электронный аукцион', 'buy')
							+in-c('checkbox', 'Публичное предложение', 'buy')
							+in-c('checkbox', 'Прямая продажа', 'buy')
							+in-c('checkbox', 'Продажа без объявлении цены', 'buy')
							+in-c('checkbox', 'Электронный аукцион', 'buy')
							+in-c('checkbox', 'Электронный аукцион', 'buy')
							+in-c('checkbox', 'Публичное предложение', 'buy')
							+in-c('checkbox', 'Прямая продажа', 'buy')
							+in-c('checkbox', 'Продажа без объявлении цены', 'buy')
							+in-c('checkbox', 'Электронный аукцион', 'buy')
				.col-auto.d-none.d-lg-block
					+e.wrap.dd-wrap-js
						+e.btn.btn.btn-outline-light.dd-head-header-js
							| Окупаемость до 
							span &nbsp;8 лет
							+icon('chevron-down')
						+e.content.custom-scroll
							+in-c('checkbox', 'Электронный аукцион', 'buy2')
							+in-c('checkbox', 'Публичное предложение', 'buy2')
							+in-c('checkbox', 'Прямая продажа', 'buy2')
							+in-c('checkbox', 'Продажа без объявлении цены', 'buy2')
							+in-c('checkbox', 'Электронный аукцион', 'buy2')
							+in-c('checkbox', 'Электронный аукцион', 'buy2')
							+in-c('checkbox', 'Публичное предложение', 'buy2')
							+in-c('checkbox', 'Прямая продажа', 'buy2')
							+in-c('checkbox', 'Продажа без объявлении цены', 'buy2')
							+in-c('checkbox', 'Электронный аукцион', 'buy2')
				.col-auto.ms-lg-auto
					+e.wrap.dd-wrap-js
						+e.btn.btn.btn-outline-light.dd-head-header-js 
							+icon('height')
							| Рекомендуемые
							+icon('chevron-down')
						+e.content.custom-scroll
							+in-c('checkbox', 'Электронный аукцион', 'buy3')
							+in-c('checkbox', 'Публичное предложение', 'buy3')
							+in-c('checkbox', 'Прямая продажа', 'buy3')
							+in-c('checkbox', 'Продажа без объявлении цены', 'buy3')
							+in-c('checkbox', 'Электронный аукцион', 'buy3')
							+in-c('checkbox', 'Электронный аукцион', 'buy3')
							+in-c('checkbox', 'Публичное предложение', 'buy3')
							+in-c('checkbox', 'Прямая продажа', 'buy3')
							+in-c('checkbox', 'Продажа без объявлении цены', 'buy3')
							+in-c('checkbox', 'Электронный аукцион', 'buy3')
				.col-auto.ms-auto.ms-lg-0
					+e.btn--map-js.btn.btn-outline-light(href='#')
						+icon('map')
						.d-none.d-lg-inline На карте
				.col-auto.d-none.d-lg-block
					+e.grid
						+e.grid-item.active(href='#'): +icon('layout')
						+e.grid-item(href='#'): +icon('grid')
				.col-auto.d-none.d-lg-block
					//- +e.btn.btn.btn-outline-light(href='#')
					//- 	+icon('save-search')
					+b.popup.popup-js
						.btn.btn-outline-light.popup-btn-js.top-nav__btn(href='#')
							+icon('save-search')
						+e.content
							+e.head 
								| Поиски
								.close
							+e.body.custom-scroll
								+e.empty
									+icon('save-search')
									| Сохраняйте поиски, чтобы не пропустить новые предложения
				//- .col-4
				.col-auto.m-0.p-0
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+e.tel(href='tel:88003330600')
								+icon('phone')
								| 8 800 333-0-600
							+mnu
				//- .col-auto.d-lg-none
				//- 	+menu-toggle()
	// end top-nav