 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(30);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block{
	position: relative;
	input{
		@include mt;
		font-size: rem(16);
		width: 100%;
		// border: none !important;
		outline: none !important;
		padding: rem(15) rem(45) rem(15) rem(55);
		border-radius: 56px 0px 0px 56px;
		border: 1px solid $gray-200;
		background-color: $gray-100;
		line-height: 1.5;
		font-weight: 600;
		letter-spacing: -0.5px;
		&::placeholder {
			color: $gray-600;
		}
		&:focus {
			border-color: $primary;
			background-color: #fff;
			&::placeholder {
				opacity: 0.3;
			}
		}
	}
	.icon{
		font-size: rem(24);
		border: none !important;
	}
	button{
		position: absolute;
		left: rem(10);
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
		color: $gray-600;
	}
	&__delete {
		@include mt;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: rem(16);
		cursor: pointer;
		opacity: 0;
		pointer-events: none;
		&.active {
			opacity: 1;
			pointer-events: all;
		}
		&:hover {
			color: $primary;
		}
	}
	&__result {
		@include mt;
		position: absolute;
		top: calc(100% + rem(8));
		left: rem(-12);
		max-height: rem(280);
		overflow-y: auto;
		overflow-x: hidden;
		width: 100vw;
		max-width: calc(100vw - rem(24));
		background-color: #fff;
		z-index: 100;
		border-radius: 16px;
		border: 1px solid $gray-200;
		box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.15);
		opacity: 0;
		pointer-events: none;
		@include media-breakpoint-up(sm) {
			width: 100%;
			max-width: none;
			left: 0;
		}
		&.active {
			opacity: 1;
			pointer-events: all;
		}
		a {
			padding: rem(16);
			font-weight: 600;
			line-height: 1.5;
			letter-spacing: -0.5px;
			color: $body-color;
			display: block;
			&:hover {
				color: $primary;
				background-color: $gray-100;
			}
		}
	}
}

.breadcrumb-slider--js {
	overflow: visible;
}

.breadcrumb {
	flex-wrap: nowrap;
}

.breadcrumb-item{
	display: flex;
	align-items: center;
	width: auto;
	// margin-right: rem(32);
	&:before {
		flex: 0 0 auto;
		width: rem(16);
		height: rem(16);
	}
	a {
		font-weight: 600;
		line-height: 1.33;
		&:not(:hover) {
			color: $body-color;
		}
	}
	&--home {
		a {
			background-color: $primary;
			border-radius: 50%;
			padding: rem(3);
			line-height: 0;
			&:not(:hover) {
				color: #fff;
			}
			.icon {
				font-size: rem(10);
			}
			&:hover {
				color: $primary;
				background-color: $body-color;
			}
		}
	}
}

.page-head {
	padding-top: rem(24);
	padding-bottom: rem(24);
	.breadcrumb {
		margin-bottom: rem(24);
	}
	&__row {
		--bs-gutter-x: #{rem(8)};
		--bs-gutter-y: #{rem(8)};

		align-items: center;
		@include media-breakpoint-up(lg) {
			--bs-gutter-x: #{rem(16)};
			--bs-gutter-y: #{rem(16)};
		}
	}
	h1 {
		font-weight: 700;
		line-height: 1.5;
		letter-spacing: -0.5px;
		margin-bottom: 0;
		font-size: rem(32);
	}
	&__btn {
		--bs-btn-color: #{$body-color};
		--bs-btn-border-color: #{$gray-200};
		--bs-btn-hover-color: #{$primary};
		--bs-btn-hover-bg: #{$gray-100};
		--bs-btn-hover-border-color: #{$gray-200};
		--bs-btn-active-color: #fff;
		--bs-btn-active-bg: #{$primary};
		--bs-btn-active-border-color: #{$primary};
		--bs-btn-padding-x: #{rem(9)};
		@include media-breakpoint-up(lg) {
			--bs-btn-padding-x: #{rem(15)};
		}
		&:active, &.active {
			.icon {
				color: var(--bs-btn-active-color);
			}
		}
		.icon {
			@include mt;
			font-size: rem(24);
			color: $primary;
			@include media-breakpoint-up(lg) {
				margin-right: rem(16);
			}
		}
	}
	&__addres {
		display: flex;
		align-items: center;
		line-height: 1.14;
		font-size: rem(14);
		font-weight: 500;
		img {
			flex: 0 0 auto;
			width: 100%;
			max-width: rem(20);
			margin-right: rem(8);
		}
	}
	&__metro {
		display: flex;
		align-items: center;
		line-height: 1.14;
		font-size: rem(14);
		font-weight: 500;
		img {
			flex: 0 0 auto;
			width: 100%;
			max-width: rem(26);
			margin-right: rem(8);
		}
		span {
			color: $gray-600;
		}
	}
	&__id {
		font-size: rem(14);
		font-weight: 700;
		line-height: 1.14;
	}
}

.chat {
	@include mt;
	position: fixed;
	right: rem(16);
	bottom: rem(24);
	color: #fff;
	background-color: $body-color;
	border-radius: 50%;
	padding: rem(17);
	cursor: pointer;
	z-index: 1004;
	&:hover {
		background-color: #fff;
		color: $body-color;
		box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.15);
	}
	@include media-breakpoint-up(lg) {
		right: rem(20);
		bottom: rem(20);
	}
	.icon {
		font-size: rem(26);
	}
}

.scroll-to-top {
	cursor: pointer;
	@include mt;
	position: fixed;
	right: rem(24);
	bottom: rem(100);
	padding: rem(12);
	border-radius: 50%;
	box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.15);
	pointer-events: none;
	opacity: 0;
	z-index: 1004;
	background-color: #fff;
	&:hover {
		background-color: $body-color;
		color: #fff;
		box-shadow: none;
	}
	&.show {
		pointer-events: all;
		opacity: 1;
	}
	@include media-breakpoint-up(lg) {
		right: rem(20);
		bottom: rem(107);
	}
	.icon {
		font-size: rem(24);
	}
}

.side-panel {
	border-radius: rem(16) rem(16) 0 0;
	background-color: $gray-100;
	padding: rem(30) rem(24) rem(38);
	margin-left: rem(-24);
	margin-right: rem(-24);
	@include media-breakpoint-up(sm) {
		margin-right: 0;
		margin-left: 0;
	}
	@include media-breakpoint-up(lg) {
		padding: rem(32) rem(20);
		border-radius: rem(24);
	}
	@include media-breakpoint-up(xxl) {
		padding: rem(32) rem(40);
	}
	&__tags-row {
		--bs-gutter-x: #{rem(8)};
		--bs-gutter-y: #{rem(8)};

		margin-bottom: rem(8);
	}
	&__tag {
		font-size: rem(10);
		font-weight: 700;
		line-height: 1.6;
		color: #fff;	
		background: var(--bgColor, #58B971);
		border-radius: 100px;
		padding: rem(2) rem(8);
		text-transform: uppercase;
	}
	&__start {
		font-size: rem(14);
		color: $gray-600;
		letter-spacing: -0.5px;
		font-weight: 500;
		line-height: 1.71;
		margin-bottom: rem(2);
	}
	&__price-row {
		--bs-gutter-x: #{rem(3)};
		--bs-gutter-y: #{rem(2)};
		align-items: center;
		margin-bottom: rem(2);
		@media screen and (min-width: 374.99px) {
			--bs-gutter-x: #{rem(8)};
		}
		.h1 {
			font-size: rem(28);
			@include media-breakpoint-up(lg) {
				font-size: rem(32);
			}
		}
	}
	&__price {
		display: flex;
    align-items: center;
    text-wrap: nowrap;
		margin-bottom: 0;
		img {
			flex: 0 0 auto;
			margin-left: rem(4);
			vertical-align: baseline;
		}
	}
	&__tax {
		font-size: rem(14);
		text-transform: uppercase;
		line-height: 1.71;
		font-weight: 700;
		color: $gray-600;
		padding: rem(2) rem(8);
		background-color: #fff;
		border-radius: 100px;
		display: flex;
		align-items: center;
		img {
			flex: 0 0 auto;
			width: 100%;
			max-width: rem(20);
			margin-right: rem(4.5);
		}
	}
	&__discount {
		color: $gray-600;
		font-size: rem(14);
		font-weight: 600;
		text-decoration: line-through;
		line-height: 1.42;
		margin-bottom: rem(8);
	}
	&__link {
		font-size: rem(12);
		line-height: 2;
		font-weight: 700;
		display: flex;
		align-items: center;
		max-width: max-content;
		padding: 0 rem(8);
		border-radius: 100px;
		background-color: #fff;
		color: $primary;
		margin-bottom: rem(16);
		&:hover {
			background-color: $primary;
			color: #fff;
		}
		.icon {
			flex: 0 0 auto;
			font-size: rem(16);
			margin-left: rem(4);
		}
	}
	&__btn {
		width: 100%;
		margin-bottom: rem(16);
		--bs-btn-padding-y: #{rem(13)};
		--bs-btn-padding-x: #{rem(6)};
		--bs-btn-border-width: 2px;
		@media screen and (min-width: 374.99px) {
			--bs-btn-padding-x: #{rem(16)};
		}
		@include media-breakpoint-up(lg) {
			--bs-btn-padding-y: #{rem(14)};
		}
	}
	&__features-row {
		
		margin-bottom: rem(32);
		margin-top: rem(16);
		.row {
			--bs-gutter-x: #{rem(8)};
			--bs-gutter-y: #{rem(8)};

			justify-content: space-between;
		}

	}
	&__feature {
		font-size: rem(14);
		line-height: 1.14;
		font-weight: 500;
		text-align: center;
		color: $gray-600;
		span {
			display: block;
			margin-bottom: rem(8);
			line-height: 0.8;
			font-weight: 700;
			font-size: rem(20);
			color: $body-color;
		}
	}
	&__subtitle {
		line-height: 1.75;
		font-weight: 600;
		margin-bottom: rem(12);
	}
	ul {
		list-style-type: none;
		margin-bottom: rem(32);
		li {
			position: relative;
			align-items: flex-end;
			display: flex;
			justify-content: space-between;
			font-size: rem(16);
			z-index: 1;
			&:not(:last-child) {
				margin-bottom: rem(12);
			}
			&:after {
				content: "";
				position: absolute;
				display: block;
				border-bottom: 1px dotted $gray-600;
				bottom: rem(9);
				left: 0;
				width: 100%;
				z-index: -1;
			}
			.wrap-right {
				text-align: right;
			}
			.key {
				background-color: $gray-100;
				line-height: 1.75;
				color: $gray-600;
				font-weight: 500;
			}
			.val {
				background-color: $gray-100;
				line-height: 1.75;
				font-weight: 700;
				color: $body-color;
				text-wrap: nowrap;
			}
		}
	}
	&__person {
		display: flex;
		align-items: center;
		margin-bottom: rem(16);
	}
	&__img-wrap {
		@include block(1,1);
		flex: 0 0 auto;
		width: 100%;
		max-width: rem(72);
		border-radius: 50%;
		border: 2px solid $gray-200;
		background-color: $gray-200;
		overflow: hidden;
		margin-right: rem(16);
	}
	&__name {
		font-size: rem(20);
		line-height: 1.4;
		letter-spacing: -0.5px;
		font-weight: 600;
		margin-bottom: rem(2);
	}
	&__post {
		font-weight: 500;
		line-height: 1.42;
		color: $gray-600;
		font-size: rem(14);
	}
	&__btn-row {
		--bs-gutter-x: #{rem(8)};
		--bs-gutter-y: #{rem(6)};
	}
	&__action-btn {
		--bs-btn-border-width: 1px;
		--bs-btn-border-radius: 56px;
		--bs-btn-bg: #fff;
		--bs-btn-border-color: #{$gray-200};
		--bs-btn-hover-bg: #fff;
		--bs-btn-hover-border-color: #{$gray-200};
		--bs-btn-hover-color: #{$primary};
		--bs-btn-active-bg: #fff;
		--bs-btn-active-border-color: #{$gray-200};
		--bs-btn-active-color: #{$primary};

		letter-spacing: -0.5px;
		text-align: center;
		width: 100%;
		.icon {
			font-size: rem(24);
			color: $primary;
			margin-right: rem(16);
		}
	}
	&__requierd {
		text-align: center;
		font-size: rem(14);
		line-height: 1.42;
		font-weight: 500;
		color: $gray-600;
		margin-bottom: rem(32);
	}
}

.catalog-card {
	position: relative;
	padding-bottom: rem(20);
	border-bottom: 1px solid $gray-200;
	height: 100%;
	display: flex;
	flex-direction: column;
	&::after {
		@include mt;
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 2px;
		left: 0;
		bottom: -1px;
		background-color: transparent;
	}
	&:hover {
		&::after {
			background-color: $primary;
		}
		.catalog-card__title {
			color: $primary;
		}
	}
	&__swiper {
		margin-bottom: rem(8);
		border-radius: rem(24);
		border: 1px solid $gray-200;
		// overflow: hidden;
		cursor: pointer;
		&:hover {
			img {
				scale: 1.1;
			}
		}
	}
	&__img-wrap {
		@include block(240, 322);
		width: 100%;
		overflow: hidden;
		img {
			@include mt;
		}
	}
	&__slider-info {
		display: flex;
		align-items: center;
		position: absolute;
		left: rem(16);
		bottom: rem(16);
		color: #fff;
		border-radius: 100px;
		opacity: 0.7;
		background-color: $body-color;
		padding: 0 rem(6);
		z-index: 10;
		font-size: rem(11);
		line-height: 1.82;
		font-weight: 600;
		.swiper-pagination {
			position: static;
			transform: none !important;
			margin-left: rem(2);
			&-bullet {
				transition: all var(--s) ease-in-out !important;
				--swiper-pagination-bullet-horizontal-gap: #{rem(2)};
				width: rem(6);
				height: rem(6);
				border-radius: 24px;
				background-color: $gray-700;
				&-active {
					background-color: #fff;
					// width: rem(16);
				}
			}
		}
	}
	&__pagination-wrap {
		// 
	}
	&__slider-count {
		min-width: rem(32);
	}
	&__favorite {
		position: absolute;
		top: rem(8);
		right: rem(8);
		color: $primary;
		background-color: #fff;
		padding: rem(8.6) rem(9);
		border: 1px solid $gray-200;
		border-radius: 50%;
		z-index: 10;
		&:hover {
			background-color: $gray-100;
		}
		&.active {
			color: #fff;
			background-color: $primary;
			border-color: $primary;
		}
		.icon {
			font-size: rem(24);
		}
	}
	&__head-row {
		
		margin-bottom: rem(8);
		.row {
			--bs-gutter-x: #{rem(8)};
			--bs-gutter-y: #{rem(2)};

			align-items: center;
		}
	}
	&__id {
		line-height: 1.667;
		font-weight: 700;
		font-size: rem(12);
		color: $body-color;
	}
	&__tag {
		font-size: rem(10);
		font-weight: 700;
		line-height: 1.6;
		color: #fff;	
		background: var(--bgColor, #58B971);
		border-radius: 100px;
		padding: rem(2) rem(8);
		text-transform: uppercase;
	}
	&__title {
		@include mt;
		line-height: 1.5;
		letter-spacing: -0.5px;
		font-weight: 600;
		margin-bottom: rem(8);
		color: $body-color;
	}
	&__price-row {
		--bs-gutter-x: #{rem(6)};
		--bs-gutter-y: #{rem(6)};
		align-items: center;
		margin-bottom: rem(12);
		@media screen and (min-width: 374.99px) {
			--bs-gutter-x: #{rem(12)};
		}
	}
	&__price {
		display: flex;
    align-items: center;
    text-wrap: nowrap;
		margin-bottom: 0;
		font-size: rem(20);
		line-height: 1.4;
		font-weight: 700;
		color: $body-color;
		img {
			flex: 0 0 auto;
			margin-left: rem(4);
			vertical-align: baseline;
			width: 100%;
			max-width: rem(20);
		}
	}
	&__discount {
		color: $gray-600;
		font-size: rem(12);
		font-weight: 600;
		text-decoration: line-through;
		line-height: 1.42;
	}
	ul {
		list-style-type: none;
		margin-bottom: rem(20);
		li {
			display: flex;
			align-items: center;
			font-size: rem(12);
			font-weight: 500;
			color: $gray-600;
			line-height: 1.33;
			img {
				flex: 0 0 auto;
				width: 100%;
				max-width: rem(20);
				margin-right: rem(8);
			}
			&:not(:last-child) {
				margin-bottom: rem(4);
			}
		}
	}
	&__features-row {
		.row {
			--bs-gutter-x: #{rem(16)};
			--bs-gutter-y: #{rem(8)};
		}

	}
	&__feature {
		font-size: rem(14);
		line-height: 1.14;
		font-weight: 500;
		color: $secondary;
		span {
			display: block;
			line-height: 0.8;
			font-weight: 700;
			color: $body-color;
			margin-top: rem(4);
			.num {
				color: $body-color;
				display: inline;
			}
		}
	}
	&__banner {
		@include block(452, 332);
		background-color: $gray-200;
		border-radius: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $gray-600;
		text-align: center;
		font-family: $font-family-monospace;
		font-size: rem(13);
		font-weight: 700;
		line-height: 1.53;
		width: 100%;
		height: 100%;
	}
	&--horizontal {
		@include media-breakpoint-up(lg) {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			.catalog-card {
				&__banner {
					--ratio: 668/160;
				}
				&__favorite {
					top: 0;
					right: 0;
				}
				&__swiper {
					margin-bottom: 0;
					height: 100%;
					max-width: rem(218);
				}
				&__img-wrap {
					--ratio: 217/173;
				}
				&__content {
					flex-grow: 1;
					margin-left: rem(16);
				}
				&__title, &__head-row {
					padding-right: rem(50);
				}
				&__price-row {
					margin-bottom: rem(8);
				}
				&__feature {
					span {
						display: inline;
						margin-left: rem(4);
					}
				}
			}
			ul {
				margin-bottom: rem(16);
			}
		}
	}
	&--banner {
		padding-bottom: 0;
		border-bottom: none;
		&:after {
			content: unset;
		}
		&.catalog-card--horizontal {
			padding-bottom: rem(24);
			border-bottom: 1px solid $gray-200;
		}
	} 
}

.controls-btn {
	position: fixed;
	left: 50%;
	bottom: rem(32);
	transform: translateX(-50%);
	z-index: 200;
	display: flex;
	@include media-breakpoint-up(lg) {
		display: none;
	}
	&__btn {
    display: flex;
    align-items: center;
    letter-spacing: -0.5px;
    --bs-btn-padding-x: #{rem(15)};
    --bs-btn-padding-y: #{rem(9)};
    --bs-btn-font-size: #{rem(14)};

		--bs-btn-color: #{$body-color};
		--bs-btn-border-color: #{$gray-200};
		--bs-btn-bg: #fff;
		--bs-btn-hover-bg: #{$gray-200};
		--bs-btn-hover-border-color: #{$gray-200};
		--bs-btn-active-color: #fff;
		--bs-btn-active-bg: #{$primary};
		--bs-btn-active-border-color: #{$primary};
    &.active,
    &:active {
      .icon {
        &-save-search {
          color: var(--bs-btn-active-color);
        }
      }
    }
    .icon {
      @include mt;
      font-size: rem(24);
      margin-right: rem(8);
      color: $primary;
      flex: 0 0 auto;
			&-save-search {
				margin-right: 0;
			}
    }
		&--filter {
			border-right: none;
			border-radius: rem(56) 0px 0px rem(56);
		}
		&--search {
			border-radius: 0px rem(56) rem(56) 0px;
		}
  }
}

.popup {
	position: relative;
	&.active {
		.popup__content {
			opacity: 1;
			pointer-events: all;
		}
	}
	&__content {
		@include mt;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		bottom: calc(100% + rem(16));
		width: 100vw;
		max-width: calc(100vw - rem(32));
		left: rem(-32);
		background-color: #fff;
		border-radius: 24px;
		box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.15);
		z-index: 100;
		transform: translateX(-50%);
		@include media-breakpoint-up(lg) {
			top: calc(100% + rem(16));
			bottom: unset;
			max-width: rem(570);
			right: rem(-23);
			left: unset;
			transform: none;
		}
		&:before {
			content: '';
			position: absolute;
			bottom: rem(-11);
			left: 50%;
			width: rem(24);
			height: rem(24);
			background-color: #fff;
			transform: rotate(45deg) translate(130%, -130%);
			z-index: -1;
			@include media-breakpoint-up(lg) {
				bottom: calc(100% - rem(13));
				right: rem(52);
				transform: rotate(45deg);
				left: unset;
			}
		}
	}
	&__head {
		padding: rem(18) rem(50);
		text-align: center;
		font-weight: 700;
		font-size: rem(18);
		line-height: 1.55;
		position: relative;
		border-bottom: 1px solid $gray-200;
		.close {
			cursor: pointer;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: rem(20);
			width: rem(24);
			height: rem(24);
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.414 12L17.707 7.70701C18.098 7.31601 18.098 6.68401 17.707 6.29301C17.316 5.90201 16.684 5.90201 16.293 6.29301L12 10.586L7.70701 6.29301C7.31601 5.90201 6.68401 5.90201 6.29301 6.29301C5.90201 6.68401 5.90201 7.31601 6.29301 7.70701L10.586 12L6.29301 16.293C5.90201 16.684 5.90201 17.316 6.29301 17.707C6.48801 17.902 6.74401 18 7.00001 18C7.25601 18 7.51201 17.902 7.70701 17.707L12 13.414L16.293 17.707C16.488 17.902 16.744 18 17 18C17.256 18 17.512 17.902 17.707 17.707C18.098 17.316 18.098 16.684 17.707 16.293L13.414 12Z' fill='%23303135'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}
	}
	&__body {
		// padding: rem(24);
		max-height: rem(584);
		overflow-y: auto;
		overflow-x: hidden;
	}
	&__empty {
    text-align: center;
    font-size: rem(18);
    font-weight: 500;
    line-height: 1.55;
    max-width: rem(414);
    padding: rem(32) rem(24) rem(56);
		margin-left: auto;
		margin-right: auto;
    .icon {
      display: block;
      font-size: rem(56);
      margin-bottom: rem(24);
      margin-left: auto;
      margin-right: auto;
      color: $primary;
    }
  }
	&__item {
		padding: rem(24);
		@include media-breakpoint-up(lg) {
			padding: rem(32) rem(48);
		}
		&:not(:last-child) {
			border-bottom: 1px solid $gray-200;
		}
		.row {
			margin-bottom: rem(16);
			align-items: center;
		}
		.h6 {
			font-size: rem(18);
			font-weight: 600;
			line-height: 1.33;
			letter-spacing: -0.5px;
			margin-bottom: 0;
		}
		p {
			line-height: 1.37;
			font-weight: 500;
			color: $gray-600;
			margin-bottom: rem(24);
		}
	}
	&__delete {
		display: flex;
		align-items: center;
		font-size: rem(14);
		font-weight: 500;
		line-height: 1.71;
		text-decoration-line: underline;
		&:not(:hover) {
			color: $body-color;
		}
		.icon {
			color: $primary;
			font-size: rem(24);
			margin-left: rem(8);
			flex: 0 0 auto;
		}
	}
	&__input-wrap {
		margin-bottom: rem(16);
	}
	&__input {
		border-radius: 56px;
		border: 1px solid $gray-200;
		background-color: $gray-100;
		font-weight: 600;
		padding: rem(11) rem(15);
		&::placeholder {
			font-size: rem(16);
			font-weight: 600;
			line-height: 1.5;
			letter-spacing: -0.5px;
			color: $gray-600;
		}
	}
	&__btn {
		width: 100%;
		--bs-btn-padding-y: #{rem(11)};
	}
}

.pagination-wrapper {
	ul {
		@include roww('8px', '', 'm');
		justify-content: center;
		margin-bottom: 0;
		.page-numbers {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $gray-100;
			color: $body-color;
			border-radius: 50%;
			font-size: rem(12);
			font-weight: 600;
			line-height: 1.71;
			min-width: rem(30);
			min-height: rem(30);
			padding: 0;
			@include media-breakpoint-up(sm) {
				font-size: rem(14);
				min-width: rem(40);
				min-height: rem(40);
			}
			&:hover {
				color: #fff;
				background-color: $body-color;
			}
			&.current {
				color: #fff;
				background-color: $primary;
			}
			&:focus {
				box-shadow: none;
			}
		}
	}
}

.fixed-prod-card {
	@include mt;
	position: fixed;
	top: 104px;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 104;
	box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.08);
	border-bottom: 1px solid $gray-200;
	padding: rem(20) 0 rem(24);
	opacity: 0;
	pointer-events: none;
	&.active {
		opacity: 1;
		pointer-events: all;
	}
	@media screen and (min-width: 374.99px) {
		top: rem(119);
	}
	@include media-breakpoint-up(sm) {
		top: rem(97);
	}
	&__row {
		--bs-gutter-x: #{rem(16)};
		--bs-gutter-y: #{rem(16)};

		align-items: center;
	}
	.breadcrumb {
		margin-bottom: rem(24);
	}
	&__img-wrap {
		@include block(70, 88);
		border-radius: 16px;
		overflow: hidden;
		max-width: rem(88);
	}
	&__addres {
		display: flex;
		align-items: center;
		line-height: 1.14;
		font-size: rem(14);
		font-weight: 500;
		color: $gray-600;
		img {
			flex: 0 0 auto;
			width: 100%;
			max-width: rem(20);
			margin-right: rem(8);
		}
	}
	&__metro {
		display: flex;
		align-items: center;
		line-height: 1.14;
		font-size: rem(14);
		font-weight: 500;
		color: $gray-600;
		img {
			flex: 0 0 auto;
			width: 100%;
			max-width: rem(26);
			margin-right: rem(8);
		}
		span {
			color: $gray-600;
		}
	}
	&__inner-row {
		--bs-gutter-x: #{rem(16)};
	}
	&__btn {
		--bs-btn-color: #{$body-color};
		--bs-btn-border-color: #{$gray-200};
		--bs-btn-hover-color: #{$primary};
		--bs-btn-hover-bg: #{$gray-100};
		--bs-btn-hover-border-color: #{$gray-200};
		--bs-btn-active-color: #fff;
		--bs-btn-active-bg: #{$primary};
		--bs-btn-active-border-color: #{$primary};
		--bs-btn-padding-x: #{rem(9)};
		@include media-breakpoint-up(lg) {
			--bs-btn-padding-x: #{rem(15)};
		}
		&:active, &.active {
			.icon {
				color: var(--bs-btn-active-color);
			}
		}
		.icon {
			@include mt;
			font-size: rem(24);
			color: $primary;
		}
		&:last-of-type {
			margin-right: rem(20);
		}
	}
	&__price {
		padding-left: rem(20);
		position: relative;
		&::before {
			content: '';
			position: absolute;
			height: rem(48);
			width: 1px;
			background-color: #CCCECA;
			top: 50%;
			transform: translateY(-50%);
			left: rem(-8);
		}
		.h2 {
			line-height: 1.33;
			margin-bottom: 0;
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(8);
			}
		}
	}
	&__price-per-meter {
		font-size: rem(14);
		color: $gray-600;
		line-height: 1.14;
		span {
			color: $body-color;
		}
	}
}