mixin sTeam(data)
	// start sTeam
	+b.SECTION.sTeam.section#sTeam&attributes(attributes)
		.container
			+b.section-title
				.row
					.col-lg-4.col-xl-6
						h2.h1 Команда
					.col-lg-8.col-xl-6
						p Мы&nbsp;&mdash; коллектив профессионалов на&nbsp;рынке недвижимости, который способен решить самые сложные задачи. Наши сотрудники являются настоящими экспертами рынка недвижимости. Мы&nbsp;уделяем большое внимание кадровой политике и&nbsp;собрали команду единомышленников.
			+e.row.row
	// end sTeam